@using CaoGiaConstruction.WebClient.Const
@model ServiceVM
@{
    var serviceRelateds = ViewBag.ServiceRelateds as IEnumerable<BlogNoContentVM>;
}

@if (Model != null)
{
    <div class="main-content service-wrapper">
        <div class="page-header">
            @{
                var breadcrumbItems = new List<BreadcrumbDto>
        {
        new BreadcrumbDto { Url = "home", Title = "Trang chủ", IsActive = false },
        new BreadcrumbDto { Url =  "service", Title = "Dịch vụ", IsActive = false },
        new BreadcrumbDto { Url =  "service-cate", Title = Model.ServiceCategory.Title,Code = Model.ServiceCategory.Code, IsActive = false },
        new BreadcrumbDto { Url =  string.Empty, Title = Model.Title, IsActive = true },
        };
            }
            @await Component.InvokeAsync(nameof(vcBreadcrumb), breadcrumbItems)
        </div>
        <div class="page-content">
            <div class="container">
                <div class="row d-flex flex-wrap">
                    <div class="right-content col-lg-8 col-12">
                        <div class="article-details content-detail clearfix">
                            <h1 class="title-detail">
                                @Model.Title
                            </h1>
                            <div class="publish-date">
                                <i class="fa fa-calendar"></i>
                                @Model.CreatedDate.ToString("dd/MM/yyyy")
                            </div>
                            <div class="post">
                                @Html.Raw(Model.Content)
                            </div>
                        </div>
                    </div>
                    <div class="blog_left_base col-lg-3 col-12">
                        <div class="aside-blog-right">
                            <div class="search-blog">
                                @await Html.PartialAsync("_SearchForm", new SearchFormDto
                       {
                           Placeholder = "Tìm kiếm dịch vụ tại đây...",
                           SearchAction = "service",
                           Value = string.Empty
                       })

                            </div>
                            @await Html.PartialAsync("_NewServiceSideBar")

                            @await Html.PartialAsync("_ServiceCategorySideBar")
                        </div>
                    </div>
                    @if (serviceRelateds != null && serviceRelateds.Any())
                    {
                        <div class="col-md-12">
                            <div class="wrap-main">
                                <h3 class="title line-title title-main">
                                    Bài viết tương tự<i class="fa">&#xf111;</i>
                                </h3>
                                <div class="content-main w-clear">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="related-blog-wrapper owl-carousel owl-theme owl-loaded">
                                                <div class="owl-stage-outer">
                                                    <div class="owl-stage">
                                                        @foreach (var service in serviceRelateds)
                                                        {
                                                            <div class="owl-item">
                                                                @await Html.PartialAsync("_ServiceItem", service)
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@section styles {
    <link href="~/Client/css/services.css" rel="stylesheet" />
}