<div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <form id="form-video">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Thêm / Chỉnh sửa video</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-7">

                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3"><i>Lưu ý: </i>(<span class="text-danger">*</span>) là trường bắt
                                        buộc nhập</div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="billing-first-name" class="form-label">Title<span
                                                class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name="title"
                                            placeholder="Vui lòng nhập">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="billing-first-name" class="form-label">Youtube ID</label>
                                        <input class="form-control" type="text" name="youTubeId"
                                            placeholder="Vui lòng nhập">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="billing-first-name" class="form-label">Youtube URL</label>
                                        <input class="form-control" type="text" name="youTubeURL"
                                            placeholder="Vui lòng nhập">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="billing-first-name" class="form-label">Ngày xuất bản</label>
                                        <input class="form-control" type="date" name="publishedDate"
                                            placeholder="Vui lòng nhập">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="billing-first-name" class="form-label">Thời lượng</label>
                                        <input class="form-control" type="text" name="duration" placeholder="HH:mm"
                                            pattern="^([0-1][0-9]|2[0-3]):([0-5][0-9])$">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="billing-first-name" class="form-label">Mô tả ngắn </label>
                                        <textarea class="form-control" name="description" rows="3"
                                            placeholder="Vui lòng nhập"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="billing-email-address" class="form-label">Trạng thái: &nbsp;</label>
                                        <br />
                                        <div>
                                            <input type="checkbox" id="status-active" checked name="status"
                                                class="switch-status" data-switch="success">
                                            <label for="status-active" data-on-label="Yes" data-off-label="No"
                                                class="mb-0 d-block"></label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-12">
                                    <div class="upload-file-wrap">
                                        <label class="form-label mb-2">Ảnh đại diện</label>
                                        <!-- File Upload -->
                                        <div class="upload-file">
                                            <div class="image-preview-wrap">
                                                <img src="~/Admin/assets/images/no_image.png" class="image-preview" />
                                                <input type="hidden" name="avatar" value="" />
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <div class="input-group">
                                                <input name="file" type="file" class="form-control select-file"
                                                    accept="image/*" />
                                                <button class="btn btn-danger btn-delete-file" type="button"><i
                                                        class="mdi mdi-trash-can"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <br>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="billing-first-name" class="form-label">ThumbnailURL</label>
                                        <input class="form-control" type="text" name="thumbnailURL"
                                            placeholder="Vui lòng nhập">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="billing-first-name" class="form-label">SEO tag</label>
                                        <textarea class="form-control" name="tags" rows="10"
                                            placeholder="Vui lòng nhập"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success ladda-button" id="btn-save"
                        data-style="expand-right"><i class="mdi mdi-content-save"></i> Lưu lại</button>
                </div>

            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div>