<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <form id="form-contact">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Chi tiết</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="billing-first-name" class="form-label">Người liên hệ</label>
                                        <input class="form-control" type="text" name="fullName"
                                               placeholder="Người liên hệ" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="billing-first-name" class="form-label">Số điện thoại</label>
                                        <input class="form-control" type="text" name="phoneNumber"
                                               placeholder="Số điện thoại" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="billing-first-name" class="form-label">Email</label>
                                        <input class="form-control" type="text" name="email"
                                               placeholder="Email" readonly>
                                       
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <textarea class="form-control" name="content" rows="3"
                                                  placeholder="Nội dung liên hệ" readonly></textarea>
                                  </div>
                                </div>
                            </div> <!-- end row -->
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>

            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div>