@using CaoGiaConstruction.WebClient.Const
@model IEnumerable<ProductGroupByCategoryVM>
@{
    var param = ViewBag.Param as SearchProductClientDto;
    string routeName = "product";
}

<div  class="main-content">
    <div class="page-header">
        <!-- <div class="page-about"> -->
        @{
            var breadcrumbItems = new List<BreadcrumbDto>
        {
        new BreadcrumbDto { Url = "home", Title = "Trang chủ", IsActive = false },
        new BreadcrumbDto { Url = routeName, Title = "Sản phẩm", IsActive = true },
        };
        }
        @await Component.InvokeAsync(nameof(vcBreadcrumb), breadcrumbItems)
    </div>

    <div class="page-content">
        <div class="container">
            <div class="row d-flex flex-wrap">
                <div class="col-sm-4">
                    <aside class="sidebar left-content">

                        @await Html.PartialAsync("_SearchForm", new SearchFormDto { Placeholder = "Tìm kiếm sản phẩm tại đây...", SearchAction = @routeName, Value = param.Keyword })

                        @await Html.PartialAsync("_ProductCategorySideBar", ProductMainCategoryCodeDefine.PRODUCT)

                        @await Html.PartialAsync("_FilterSidebar", new FilterSideBarDto { SearchParams = param, RouteValues = @routeName })

                    </aside>

                    <div id="open-filters" class="open-filters hidden-lg hidden-md">
                        <i class="fa fa-filter"></i>
                        <span></span>
                    </div>
                </div>
                <div class="col-sm-8">
                    @if (Model.Any())
                    {
                        @foreach (var cate in Model)
                        {
                            <h3 class="title line-title text-left mb-3">
                                <span>@cate.ProductCategory.Title<i class="fa">&#xf111;</i></span>
                            </h3>
                            <div class="content-main w-clear">
                                <div class="grid-page">
                                    @foreach (var product in cate.Products)
                                    {
                                        @await Html.PartialAsync("_ProductItem", product)
                                    }
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        @await Html.PartialAsync("_AlertMessage", "Sản phẩm đang được cập nhật.")
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/Client/css/product-list.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/Client/js/sidebar-filter-controller.js" asp-append-version="true"></script>
}

