/*#region upload file */

.upload-file {
    width: 120px;
    height: 120px;
    position: relative;
    background-color: #f4f4f4;
    border: 2px dotted var(--ct-secondary-color);
    color: var(--ct-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 30px;
}



.file-item-upload {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: var(--ct-secondary-color);
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

.file-item-upload .circle-close {
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 22px;
}

.file-item-upload .circle-close i {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.file-item-upload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drag-image-wrap {
    position: relative;
}

/*#endregion */