@model string;
<div class="input-group">
    <input type="search" name="keyword" class="form-control dropdown-toggle" placeholder="Search..." value="@Model">
    <span class="mdi mdi-magnify search-icon"></span>
    <button class="input-group-text btn btn-primary" type="submit">Search</button>
</div>