.relative {
    position: relative;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-button-next,
.swiper-button-prev {
    background: #fff;
    width: 30px !important;
    height: 30px !important;
    border-radius: 5px;
    border: 1px solid var(--caogia-primary-color);
    transform: translate(0, -50%);
    margin-top: 0 !important;
}

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        background: var(--caogia-primary-color);
    }

.swiper-container .swiper-button-next:after,
.swiper-container .swiper-button-prev:after {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.gallery-top .swiper-slide {
    padding-bottom: 41%;
    display: block;
    height: 0;
    background: #fff;
    overflow: hidden;
    border-radius: 15px
}

    .gallery-top .swiper-slide img {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 99%;
        max-height: 100%;
        width: auto !important;
        height: auto !important;
        position: absolute;
        border-radius: 5px
    }

.gallery-thumbs {
    margin-top: 10px !important;
    padding: 10px 0;
    background: #fff;
    border-radius: 15px
}

    .gallery-thumbs .swiper-slide {
        border: 2px solid #ebebeb;
        cursor: pointer;
        background: #fff;
        border-radius: 5px;
        overflow: hidden
    }

        .gallery-thumbs .swiper-slide .p-100 {
            padding-bottom: 41%;
            overflow: hidden;
            height: auto;
            display: block;
            position: relative
        }

            .gallery-thumbs .swiper-slide .p-100 img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -o-object-fit: contain;
                object-fit: contain
            }

        .gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
            border-color: var(--caogia-primary-color)
        }

        .gallery-thumbs .swiper-slide:hover {
            border-color: var(--caogia-primary-color)
        }
