
.service-wrapper a {
    color: #372c22;
}

    .service-wrapper a:hover {
        color: var(--caogia-primary-color);
    }

.hot-blog {
    border-radius: 5px;
    border: 1px solid #eee;
    display: block;
    margin-bottom: 20px
}

    .hot-blog h2 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0px;
        padding-bottom: 15px;
        padding-top: 15px;
        background: var(--caogia-primary-color);
        color: #fff;
        padding-left: 10px;
        line-height: 1;
        border-radius: 5px 5px 0px 0px
    }

        .hot-blog h2 a {
            color: #fff
        }

            .hot-blog h2 a:hover {
                color: #372c22
            }

    .hot-blog .blog-content {
        padding: 10px
    }

        .hot-blog .blog-content .item {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            border-bottom: 1px dashed #F2F2F2;
            padding-bottom: 5px
        }

            .hot-blog .blog-content .item:hover img {
                transform: scale(1.2);
            }

            .hot-blog .blog-content .item .post-thumb {
                width: 75px;
                margin-right: 10px
            }

                .hot-blog .blog-content .item .post-thumb .image-blog {
                    overflow: hidden;
                    width: 100%;
                    display: flex;
                    -o-justify-content: center;
                    -moz-justify-content: center;
                    -webkit-justify-content: center;
                    -os-justify-content: center;
                    -o-display: flex;
                    -moz-display: flex;
                    -webkit-display: flex;
                    -os-display: flex;
                    align-items: center;
                    position: relative;
                    height: auto !important;
                    padding-bottom: 63.5%
                }

                    .hot-blog .blog-content .item .post-thumb .image-blog img {
                        width: auto !important;
                        max-height: 100%;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        will-change: opacify;
                        transition: all 0.5s ease;
                        border-radius: 2px;
                    }

            .hot-blog .blog-content .item .contentright {
                width: calc(100% - 85px)
            }

                .hot-blog .blog-content .item .contentright h3 {
                    font-size: 14px;
                    margin: 0
                }

                    .hot-blog .blog-content .item .contentright h3 a {
                        margin-bottom: 0px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden
                    }

            .hot-blog .blog-content .item .time-post {
                margin-bottom: 0px
            }

                .hot-blog .blog-content .item .time-post span {
                    font-size: 13px;
                    font-style: italic
                }

            .hot-blog .blog-content .item:last-child {
                border: initial;
                margin: 0;
                padding: 0
            }

.blog-search-form {
    overflow: hidden;
    position: relative;
    margin-bottom: 0px;
    max-width: 100%;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #33beb3
}

    .blog-search-form input {
        width: 100%;
        height: 40px;
        padding-right: 80px;
        padding-left: 10px;
        border: 0
    }

    .blog-search-form button {
        position: absolute;
        right: 1px;
        width: 60px;
        height: 38px;
        background: #33beb3;
        border: 0;
        border-radius: 5px;
        top: 1px
    }

        .blog-search-form button:hover {
            opacity: 0.7
        }

.art-pro {
    margin-top: 15px;
    margin-bottom: 15px
}

@media (min-width: 992px) {
    .aside-blog-right {
        position: sticky;
        top: 10px
    }
}

.search-blog {
    display: block;
    margin-bottom: 20px
}

.item-blog {
    margin-bottom: 20px;
    border-style: solid;
    border: 1px solid #efefef;
    background-color: #f9f9f9 !important;
    border-radius: 10px;
    border-radius: 8px;
    overflow: hidden;
}

    .item-blog .block-thumb {
        position: relative;
        padding: 10px 10px 0 10px;
    }

        .item-blog .block-thumb .thumb {
            overflow: hidden;
            width: 100%;
            display: flex;
            -o-justify-content: center;
            -moz-justify-content: center;
            -webkit-justify-content: center;
            -os-justify-content: center;
            -o-display: flex;
            -moz-display: flex;
            -webkit-display: flex;
            -os-display: flex;
            align-items: center;
            position: relative;
            height: auto !important;
            padding-bottom: 63.5%;
            border-radius: 8px;
        }

            .item-blog .block-thumb .thumb img {
                width: auto !important;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                will-change: opacify;
                transform: scale(1);
                transition: all 0.5s ease;
                border-radius: 8px;
                object-fit: contain;
            }

        .item-blog .block-thumb:hover img {
            transform: scale(1.1)
        }

    .item-blog .block-content {
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        width: 100%;
        position: relative;
        margin-top: 15px;
        padding: 10px;
        text-align: center;
    }

        .item-blog .block-content h3 {
            font-size: 18px;
            margin-top: 0;
            padding-top: 0;
            text-transform: capitalize;
            margin-bottom: 0;
            min-height: 48px;
            font-weight: 500
        }

@media (max-width: 767px) {
    .item-blog .block-content h3 {
        font-size: 16px
    }
}

.item-blog .block-content h3 a {
    color: #000;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.item-blog .block-content .time-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-top: 1px solid var(--caogia-secondary-color);
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0px
}

    .item-blog .block-content .time-post span {
        border-radius: 10px;
        font-size: 14px;
        line-height: 20px;
        z-index: 1;
        color: var(--caogia-text-color)
    }

        .item-blog .block-content .time-post a svg {
            width: 14px;
            height: 10px
        }

            .item-blog .block-content .time-post a svg path {
                fill: #372c22
            }

    .item-blog .block-content .time-post a:hover svg path {
        fill: var(--caogia-primary-color)
    }

.item-blog .block-content p.justify {
    text-align: center;
    font-size: 14px;
    color: var(--caogia-text-color);
    font-weight: 400;
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden
}
