@import url('../vendor/daterangepicker/daterangepicker.css');
@import url('../vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css');
@import url('../css/icons.min.css');
@import url('../vendor/jquery-toast-plugin/jquery.toast.min.css');
@import url('../vendor/fancybox/jquery.fancybox.min.css');
@import url('../vendor/jquery-confirm/jquery-confirm.min.css');
