name: CI/CD Pipeline
# Hoạt động trên VPS 86
on:
  push:
    branches:
      - master # Khi có push lên nhánh master -> Deploy UAT
    tags:
      - "*" # Khi có tag được tạo -> Deploy Production

env:
  api_host_path: ./CaoGiaConstruction.WebClient
  api_host_publish_path: ./CaoGiaConstruction.WebClient/bin/Release/net8.0
  api_host_artifact_name: dotnet-publish
  dockerfile_path: ./CaoGiaConstruction.WebClient/Dockerfile
  docker_image_name: hoangcdt7602119/cao-gia-construction
  TAG_NAME: 1.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Bước 1: Checkout mã nguồn
      - name: Checkout code
        uses: actions/checkout@v3

      # Bước 2: Thiết lập .NET SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"

      # Bước 3: Build ứng dụng .NET
      - name: Build .NET app
        working-directory: ${{ env.api_host_path }}
        run: |
          dotnet restore
          dotnet publish -c Release

      - name: Upload dotnet publish results
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.api_host_artifact_name }}
          path: ${{ env.api_host_publish_path }}
          retention-days: 1

  deploy-uat:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' # Điều kiện chỉ chạy khi push lên nhánh master (UAT)

    steps:
      # Bước 1: Checkout mã nguồn
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download dotnet publish artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.api_host_artifact_name }}
          path: ${{ env.api_host_publish_path }}

      # Bước 2: Đăng nhập vào Docker Hub (hoặc registry khác)
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Bước 3: Build Docker images cho UAT với tag `latest`
      - name: Build and push Docker images (UAT)
        run: |
          docker build -f ${{ env.dockerfile_path }} -t ${{ secrets.DOCKERHUB_USERNAME }}/cao-gia-construction:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/cao-gia-construction:latest

      # Bước 4: SSH và triển khai lên UAT
      - name: Deploy to UAT
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST_UAT }}
          username: ${{ secrets.SSH_USERNAME_UAT }}
          key: ${{ secrets.SSH_KEY_UAT }}
          port: 22
          timeout: 30s
          command_timeout: 10m
          script: |
            cd /home/github-actions/docker-deploys/cao-gia-construction-uat
            IMAGE_TAG=latest docker-compose pull
            IMAGE_TAG=latest docker-compose up -d

      # Bước 5: Dọn dẹp các Docker images UAT cũ không sử dụng liên quan đến "cao-gia-construction"
      - name: Cleanup unused UAT Docker images
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST_UAT }}
          username: ${{ secrets.SSH_USERNAME_UAT }}
          key: ${{ secrets.SSH_KEY_UAT }}
          port: 22
          timeout: 30s
          command_timeout: 5m
          script: |
            docker images --filter=reference='cao-gia-construction*' --format "{{.Repository}}:{{.Tag}}" | xargs -r docker rmi -f

  deploy-prod:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/') # Điều kiện chỉ chạy khi tạo tag (Production)

    steps:
      # Bước 1: Checkout mã nguồn
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download dotnet publish artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.api_host_artifact_name }}
          path: ${{ env.api_host_publish_path }}

      # Bước 2: Lấy tên tag từ GitHub ref
      - name: Extract tag name
        id: extract_tag
        run: echo "TAG_NAME=${GITHUB_REF##*/}" >> $GITHUB_ENV

      # Bước 3: Đăng nhập vào Docker Hub (hoặc registry khác)
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Bước 4: Build Docker images với tag là tên tag từ GitHub
      - name: Build and push Docker images (Production)
        run: |
          docker build -f ${{ env.dockerfile_path }} -t ${{ secrets.DOCKERHUB_USERNAME }}/cao-gia-construction-prod:${{ env.TAG_NAME }} .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/cao-gia-construction-prod:${{ env.TAG_NAME }}

      # Bước 5: SSH và triển khai lên Production
      - name: Deploy to Production
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST_PROD }}
          username: ${{ secrets.SSH_USERNAME_PROD }}
          key: ${{ secrets.SSH_KEY_PROD }}
          port: ${{ secrets.SSH_PORT_PROD }}
          script: |
            cd /home/github-actions/docker-deploys/cao-gia-construction-prod
            export TAG_NAME=${{ env.TAG_NAME }}
            docker-compose pull
            docker-compose up -d

      # Bước 6: Dọn dẹp các Docker images không dùng nữa trên Production
      - name: Cleanup unused Production Docker images
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST_PROD }}
          username: ${{ secrets.SSH_USERNAME_PROD }}
          key: ${{ secrets.SSH_KEY_PROD }}
          port: ${{ secrets.SSH_PORT_PROD }}
          script: |
            docker images --filter=reference='cao-gia-construction*' --format "{{.Repository}}:{{.Tag}}" | xargs -r docker rmi -f
