name: Docker Build Only

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Docker image tag'
        required: true
        default: 'latest'

env:
  DOCKER_IMAGE: hoangcdt/cao-gia-construction

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./CaoGiaConstruction.WebClient/Dockerfile
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:${{ inputs.tag }}
          build-args: |
            BUILD_CONFIGURATION=Release

